---
import {Image} from 'astro:assets'
import logo from '../assets/images/basicLogo.svg'
import hamburger from '../assets/icons/hamburger.svg';

import {mainNavLinks} from '../shared/contants'
---

<header class="padding-x py-8 absolute z-10 w-full"> 
    <nav class="flex justify-between items-center max-container">
        <a href="/">
            <Image src={logo} alt="Propelr logo" />
        </a>
        <ul class="flex-1 flex justify-center items-center gap-16 max-lg:hidden">
            {mainNavLinks.map((link) => (
                <li>
                    <a 
                        href={link.href}
                        class="font-monserrat leading-normal text-lg text-slate-gray"
                    >
                    {link.label}
                    </a>
                </li>
            ))}
        </ul>
    </nav>

</header>
